<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBroadcast</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>

    <!-- Custom styles for this template -->
    <link href="blog-home.css" rel="stylesheet">

  </head>
 
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">NBroadcast.xyz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="nav-link btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                  {{admin}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="nav-link dropdown-item" href="/logout" style="color:black">LogOut</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
      

      <div class="row">
      <br><br><br>  

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <div class="shadow-none p-3 mb-5 bg-light rounded" style="margin-top: 25px">
          
            <h1 class="my-4">
              &nbsp; Add Posts to Database
            </h1>

            <!-- Form -->
              <form action="/addnewdata" method="POST" id="postform">
                <div class="form-group">
                  <input class="form-control" type="text" name="title" placeholder="Enter Title here"><br><br>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="author" placeholder="Author of the Post"><br><br>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="category" placeholder="Category"><br><br>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="date" placeholder="date"><br><br>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="image" placeholder="image URL"><br><br>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="name" placeholder="title of blog without space"><br><br>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="preview" placeholder="preview of the blog"><br><br>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="tags" placeholder="tags for the blog"><br><br>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="content" form="postform" rows="10" cols="50">Enter the Post here formatted in html...</textarea><br><br>
                </div>

                <input class="btn btn-primary" type="submit" value="Upload">
              </form>

          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <form action="/search" method="get">
            <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." name="searchquery">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" value="Submit">Go!</button>
                  </span>
                </div>
              </div>
            </div>
          </form>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="/category?category=software">Soft. Engg.</a>
                    </li>
                    <li>
                      <a href="/category?category=microsoftit">Microsoft IT</a>
                    </li>
                    <li>
                      <a href="/category?category=sam">SAM</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="/category?category=hardware">Comp. Hard.</a>
                    </li>
                    <li>
                      <a href="/category?category=networking">Networking</a>
                    </li>
                    <li>
                      <a href="/category?category=tutorial">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Popular Posts</h5>
            <div class="card-body">
              <ul>
              {{#each sidebar}}
                <li><a href="/viewpost?post={{key}}">{{title}}</a></li>
              {{/each}}
              </ul>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">All Posts by Date</h5>
            <div class="card-body">
              <ul>
                {{#each postByDate}}
                <li>
                  <a href="javascript:void(0);" onclick="display_hidden_month({{year}});">{{year}}</a>
                  <ul>
                    {{#each month}}
                    <li id="monthbydate{{../year}}" style="display:none;">
                      <a href="javascript:void(0);" onclick="display_hidden_post('{{../year}}{{name}}')">{{this.name}}</a>
                      <ul id="postbydate{{../year}}{{name}}" style="display:none;">
                        {{#each post}}
                        <li>
                          <a href="/viewpost?post={{this.key}}">{{this.name}}</a>
                        </li>
                        {{/each}}
                      </ul>
                    </li>
                    {{/each}}
                  </ul>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NBroadcast 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    {{!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script>
      function display_hidden_month(year)
      {
          if (document.getElementById("monthbydate"+year).style.display == "block"){
            document.getElementById("monthbydate"+year).style.display = "none"
          }
          else{
            document.getElementById("monthbydate"+year).style.display = "block"
          }
      }
    </script>
    <script>
      function display_hidden_post(yearMonth)
      {
          if (document.getElementById("postbydate"+yearMonth).style.display == "block"){
            document.getElementById("postbydate"+yearMonth).style.display = "none"
          }
          else{
            document.getElementById("postbydate"+yearMonth).style.display = "block"
          }
      }
    </script>

  </body>

</html>