<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBroadcast</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/blogproject-f3538.appspot.com/o/blog-images%2Fbroadcast-16*16-light.png?alt=media&token=529479bf-ba2b-4fab-912c-3410ac6441d9" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="blog-home.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <link href="customcss.css" rel="stylesheet">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="794979905318-iiucti5odqn9cq2ki8t8736led0tt303.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">

  </head>
 
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <img alt="nbroadcast-logo" width="3%" height="3%" src="https://firebasestorage.googleapis.com/v0/b/blogproject-f3538.appspot.com/o/blog-images%2Fbroadcast-512*512.png?alt=media&token=7f0304be-bddb-4afa-8cc5-1d80a283e718" >&nbsp;
        <a class="navbar-brand" href="/">NBroadcast.xyz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
      

      <div class="row">
      <br><br><br>  

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <div class="shadow-none p-3 mb-5 bg-light rounded" style="margin-top: 25px">
          
            <h1 class="my-4">
              &nbsp; Login
            </h1>

            <!-- Login Page -->
              <div class="col-md-6">
                <form action="/login" method="POST" id="postform">
                    <div class="form-group">
                      <input type="username" id="inputEmail" class="form-control" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                    </div>
                    <div class="forgot">
                      <a href="/forgotpassword">Forgot password?</a>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" value="Submit">Login</button>
                </form>
                <a href="/signup">Create Account</a>

                <br><br>

                {{!-- <button class="loginBtn loginBtn--google">
                  <a href="/loginwithgoogle" style="color:white"> Login with Google </a>
                </button> --}}
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">Google Sign In</div>

              </div>

          </div>
          {{message}}
          <p id="errormessage"></p>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <form action="/search" method="get">
            <div class="card my-4">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." name="searchquery">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" value="Submit">Go!</button>
                  </span>
                </div>
              </div>
            </div>
          </form>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="/category?category=hardware">Comp. Hardware</a>
                    </li>
                    <li>
                      <a href="/category?category=machinelearning">Machine Learning</a>
                    </li>
                    <li>
                      <a href="/category?category=problemsolving">Problem Solving</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="/category?category=softwareengineering">Software Engg</a>
                    </li>
                    <li>
                      <a href="/category?category=microsoftit">Microsoft IT</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Popular Posts</h5>
            <div class="card-body">
              <ul>
              {{#each sidebar}}
                <li><a href="/viewpost?post={{key}}">{{title}}</a></li>
              {{/each}}
              </ul>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">All Posts by Date</h5>
            <div class="card-body">
              <ul>
                {{#each postByDate}}
                <li>
                  <a href="javascript:void(0);" onclick="display_hidden_month({{year}});">{{year}}</a>
                  <ul>
                    {{#each month}}
                    <li id="monthbydate{{../year}}" style="display:none;">
                      <a href="javascript:void(0);" onclick="display_hidden_post('{{../year}}{{name}}')">{{this.name}}</a>
                      <ul id="postbydate{{../year}}{{name}}" style="display:none;">
                        {{#each post}}
                        <li>
                          <a href="/viewpost?post={{this.key}}">{{this.name}}</a>
                        </li>
                        {{/each}}
                      </ul>
                    </li>
                    {{/each}}
                  </ul>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NBroadcast 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    {{!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script>
      function display_hidden_month(year)
      {
          if (document.getElementById("monthbydate"+year).style.display == "block"){
            document.getElementById("monthbydate"+year).style.display = "none"
          }
          else{
            document.getElementById("monthbydate"+year).style.display = "block"
          }
      }
    </script>
    <script>
      function display_hidden_post(yearMonth)
      {
          if (document.getElementById("postbydate"+yearMonth).style.display == "block"){
            document.getElementById("postbydate"+yearMonth).style.display = "none"
          }
          else{
            document.getElementById("postbydate"+yearMonth).style.display = "block"
          }
      }

      

      function displayData(user){

        document.getElementById('errormessage').innerHTML = user.displayName;
        alert("in display ")
      }

      function initializeFirebase(){
          var config = {
                        apiKey: "AIzaSyC-d8dYJrCubsmFdYn2FKDcq1jhwA9PE3I",
                        authDomain: "blogproject-f3538.firebaseapp.com",
                        databaseURL: "https://blogproject-f3538.firebaseio.com",
                        projectId: "blogproject-f3538",
                        storageBucket: "blogproject-f3538.appspot.com",
                        messagingSenderId: "794979905318"
                    };

          firebase.initializeApp(config);
      }
      


      function onSignIn(googleUser) {
        console.log('Google Auth Response', googleUser);
        // We need to register an Observer on Firebase Auth to make sure auth is initialized.
        var unsubscribe = firebase.auth().onAuthStateChanged(function(firebaseUser) {
          unsubscribe();
          // Check if we are already signed-in Firebase with the correct user.
          if (!isUserEqual(googleUser, firebaseUser)) {
            // Build Firebase credential with the Google ID token.
            var credential = firebase.auth.GoogleAuthProvider.credential(
                googleUser.getAuthResponse().id_token);
            // Sign in with credential from the Google user.
            firebase.auth().signInAndRetrieveDataWithCredential(credential).catch(function(error) {
              // Handle Errors here.
              var errorCode = error.code;
              var errorMessage = error.message;
              // The email of the user's account used.
              var email = error.email;
              // The firebase.auth.AuthCredential type that was used.
              var credential = error.credential;
              // ...
            });
          } else {
            console.log('User already signed-in Firebase.');
          }
        });

        var id_token = googleUser.getAuthResponse().id_token;
        
        var url = 'http://www.nbroadcast.xyz/loginwithgoogle'
        var form = $('<form action="' + url + '" method="post">' +
                      '<input type="text" name="token" value="' + id_token + '" />' +
                      '</form>');
        $('body').append(form);
        form.submit();
      }

      function isUserEqual(googleUser, firebaseUser) {
        if (firebaseUser) {
          var providerData = firebaseUser.providerData;
          for (var i = 0; i < providerData.length; i++) {
            if (providerData[i].providerId === firebase.auth.GoogleAuthProvider.PROVIDER_ID &&
                providerData[i].uid === googleUser.getBasicProfile().getId()) {
              // We don't need to reauth the Firebase connection.
              return true;
            }
          }
        }
        return false;
      }

      window.onload = initializeFirebase;
    </script>
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
  </body>

</html>